canvas {
  height: 100%;
  width: 100%;
  border: 1px gray solid;
  border-radius: 5px;
}

.brain-container {
  margin: 0 auto;
  position: relative;
}

.region {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
